
@{
    ViewBag.Title = "Schedule Student";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="Schedules MBV-Maincont" style="width:100%;">
    <div class="Days Monday MBV-S-Days">
        <div class="DTitle"><p style="margin:5px 0px 0px 0px;">Monday</p></div>

    </div>

    <div class="Days Tuesday MBV-S-Days">
        <div class="DTitle"><p style="margin:5px 0px 0px 0px;">Tuesday</p></div>

    </div>

    <div class="Days Wednesday MBV-S-Days">
        <div class="DTitle"><p style="margin:5px 0px 0px 0px;">Wednesday</p></div>

    </div>

    <div class="Days Thursday MBV-S-Days">
        <div class="DTitle"><p style="margin:5px 0px 0px 0px;">Thursday</p></div>

    </div>

    <div class="Days Friday MBV-S-Days">
        <div class="DTitle"><p style="margin:5px 0px 0px 0px;">Friday</p></div>

    </div>

</div>
