@model IEnumerable<EQLMS_ICT401.Models.Subject>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="MainCont MBV-Maincont">
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <div class="Mitem MBV-item">
                <div class="Subjects Tsubj">
                    <p class="Fontforsubj">@Html.DisplayFor(modelitem => item.SubjectTitle)</p>
                    <p class="Fontforsubj">Gr <span class="Gradenum">@Html.DisplayFor(modelitem => item.GradeID)</span></p>
                </div>
                <div class="subpic">
                    <img src="@Html.DisplayFor(modelitem => item.SubjectPicture)" class="picsub" />
                </div>
                @Html.ActionLink( ".", "TeacherModules", new { SubjectID = item.SubjectID}, new { @class = "Fontforsubj linkbtn" })               
            </div>
            
        };
    }else
    {
        <h3>There is no Subject assigned to Your Grade level</h3>
    }
    
</div>

<div class="rightnav MBV-RN studentview" style="background-color: #27374D; padding:10px;">
    <h3 class="assh">Assignments</h3>
    <div class="RnavS Tassh">
        <img src="~/Images/rightnav/asssect.jpg" class="assimg" />
        <div class="Rnavcont">
            <div style="float:left; width:50px; height:50px; margin:5px;"></div>
            <p> Assigbment/s: </p>
            <p class="Assnum"> 0</p>
            <img src="~/Images/Popups/down.png" class="down" />
        </div>
    </div>
    <h3 class="assh">Reminders</h3>
    <div class="RnavS todo">
        <img src="~/Images/rightnav/reminder.jpg" class="assimg" />
        <div class="Rnavcont">
            <div class="adbutR"><span style="margin:5px;">+</span></div>
        </div>
    </div>

</div>




